.filter-delete-all {
    display: flex;
    flex-direction: row;
    max-width: 70%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    gap: 20px;

    .deleteAll {
        border-radius: 15px;
        padding: 20px;
        background-color: #7F0000;
    }

    .selectAll {
        border-radius: 15px;
        padding: 20px;
        background-color: #0047AB;
    }
}


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #483248;
    padding: 20px;
    margin: auto;
    border-radius: 15px;

    hr {
        height: 50px;
        width: 2px;
    }
}