.formSection {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    gap: 40px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 70%;
        font-size: 1.5rem;

        #new-task {
            font-size: 1.5rem;
        }

        #submitBtn {
            padding: 15px;
            display: flex;
            justify-content: space-around;
            font-size: 2rem;
        }
    }

    ul {
        display: block;
        flex-direction: column;

        li {
            display: flex;
            gap: 30px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            font-size: 1.5rem;
        }
    }
}

